.header-container{
  width:100%;
  background:green;
  padding:2rem;
  display:flex;
  justify-content:space-between;
  align-items:center;
}
.header-container h5{
  color:#fff;
  font-family:'Poppins';
  font-size:1.5rem;
  font-weight:bold;
}
.sort-section{
  margin-top:1rem;
}
.todo-body{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  grid-gap:2rem;
  margin-top:2rem;

}